.chak {
    height: 980px;
    width: 1000px;
    border: 4px solid  #000;
    box-sizing: border-box;
    position: relative;
}

.chuk {
    height: 50px;
    width: 100px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: -4px;
    font-size: 30px;
    border: 1px solid #fff;
}
.chuk1{
    height: 50px;
    width: 100px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 90px;
    font-size: 30px;
    border: 1px solid #fff;
}

.white {
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    background-color: #fff;
    border: 1px solid #000 ;
    margin-left: -4px;
    margin-bottom: -4px;
}
.white1 {
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    background-color: #fff;
    border: 1px solid #000 ;
    margin-left: px;
    margin-bottom: -4px;
}
.black {
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    background-color: #000;
    border: 1px solid #000 ;
    margin-left: -4px;
    margin-bottom: -4px;
}
.black1 {
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    background-color: #000;
    border: 1px solid #000 ;
    margin-left: px;
    margin-bottom: -4px;
    }
.number {
    height: 80px;
    width: 80px;
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-align: center;
    vertical-align:bottom;
    background-color: #fff;
    border: 1px solid #fff ;
    margin-bottom: -4px;
}